[defaults]
inventory = ./inventory
remote_user = root
ask_pass = false
private_key_file = /root/.ssh/ansible-key
collections_path=./collections:/usr/share/ansible/collections
[privilege_escalation]
become = true
become_method = ansible.builtin.sudo
become_user = root
become_ask_pass = false
[galaxy]
server_list = automation_hub, galaxy

[galaxy_server.automation_hub]
url = https://console.redhat.com/api/automation-hub/
auth_url = https://sso.redhat.com/auth/realms/redhat-external/protocol/openid-connect/token


[galaxy_server.galaxy] 
url = https://galaxy.ansible.com/
