global
    log /dev/log local0
    log /dev/log local1 notice

defaults
    mode tcp
    timeout connect 5s
    timeout client  50s
    timeout server  50s


frontend kubernetes_api
    bind {{ haproxy_frontend_bind | default('*:6443') }}
    mode tcp
    default_backend {{ haproxy_backend_name | default('kubernetes_api_servers') }}

backend {{ haproxy_backend_name | default('kubernetes_api_servers') }}
    balance roundrobin
    mode tcp
{% for server in haproxy_backend_servers %}
    server api-server{{ loop.index }} {{ server }}:{{ haproxy_api_server_port | default(6443) }} check
{% endfor %}
